<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %> 
    
    <%- messages() %>
    
    <% if (errors) { %>
      <ul class="notice">
        <% errors.array().forEach(error => { %>
          <li><%=error.msg%></li>
        <% }) %>
      </ul>
      <% } %>

<h2 class="welcome-message">Welcome, <%= locals.account_firstname %> </h2>
<a class="edit-account-link" href="/account/update/<%= locals.account_id %>">Edit Account Information</a>
<% if (locals.isEmployee || locals.isAdmin) { %>
  <h3 class="inventory-title">Inventory Management</h3>
  <a class="inventory-link" href="/inv/">Manage Inventory</a>
<% } else { %>
  
<% } %>


